  .heimu, .heimu a, a .heimu, .heimu a.new {
      background-color: #252525;
      color: #252525;
      text-shadow: none;
  }
  .heimu:hover, .heimu:active,
  .heimu:hover .heimu, .heimu:active .heimu {
      color: white !important;
  }
 .heimu:hover a, a:hover .heimu,
 .heimu:active a, a:active .heimu {
     color: lightblue !important;
 }
 .heimu:hover .new, .heimu .new:hover, .new:hover .heimu,
 .heimu:active .new, .heimu .new:active, .new:active .heimu {
     color: #BA0000 !important;
 }



iframe:not([src]) {
  display: none;
}


/* 滚动条 */
::-webkit-scrollbar-thumb {
    background-color: #002aff;
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
    border-radius: 3em;
}
::-webkit-scrollbar-track {
    background-color: #cdd7ff;
    border-radius: 3em;
}
::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}


